# Site Folder / Shared Vagrant Folder
sites
.vagrant

# Vagrantfile
# ansible/playbook.yml

# PHPStorm
.idea

# Mac System Files
.DS_Store
_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk