<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Carleton Development Environment</title>
</head>

<body>

<h1>Carleton Dev Environment</h1>

<h2>Tools</h2>
<ul>
    <li><a href="http://192.168.33.33:1080">MailCatcher</a></li>
    <li><a href="http://192.168.33.33/phpmyadmin">PHPMyadmin (wordpress / wordpress)</a></li>
    <li><a href="http://192.168.33.33/phpinfo.php">PHP Info</a></li>
    <li><a href="http://192.168.33.33/webgrind-master">Webgrind for xdebug</a></li>
    <li><a href="https://chrome.google.com/webstore/detail/xdebug-helper/eadndfjplgieldjbigjakmdgkmoaaaoc">XDebug browser tool (Chrome)</a></li>
</ul>

</body>
</html>